<!DOCTYPE html>
<html>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@100;700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="topnav">
      <a class="active" href="#home">Inicio</a>
      <a href="#news">Críticas</a>
      <a href="#contact">Noticias</a>
      <a href="#suggestions">Recomendaciones</a>
      <a href="#about">Sobre Nosotros</a>
      <a href="#logout">Cerrar Sesión</a>
    </div>
    <img
      class="green-title"
      src="https://raw.githubusercontent.com/AleS900/prueba/master/VSI/greenRaster.png"
    />

    <img
      class="game-example"
      src="https://raw.githubusercontent.com/AleS900/prueba/master/VSI/GameExample.png"
      alt="image"
    />

    <div class="green-square">
      <img
        class="crown"
        src="https://raw.githubusercontent.com/AleS900/prueba/master/VSI/crown1.png"
        alt="image"
      />
      <p class="about-us">¿Quienes Somos?</p>
      <p class="description">
        Es una página diseñada por y para fanáticos del mundo virtual, es decir
        que aquí podrás formar parte de una gran comunidad de gamers, donde
        podrás informarte de todo lo nuevo, conocer gente con tus mismos gustos
        y hasta acceder a ofertas de contenido descargable.
      </p>

      <button
        class="button-bckgd button-txt"
        id="myButton"
        (click)="test3($event)"
      >
        CONTINUAR</button
      ><br /><br />
    </div>
    <div class="footer-bckgd">
      <br />
      <p class="footer-title">Suscribete a la Sección de Noticias.</p>
      <br />
      <ul id="lista1">
        <li><span class="separador">&nbsp;&nbsp;&nbsp;</span><a>Inicio</a></li>
        <li><span class="separador"></span><a>Acerca de</a></li>
        <li><span class="separador"></span><a>Contacto</a></li>
        <li>
          <span class="separador"></span
          ><a
            >Blog&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a
          >
        </li>
        <li>
          <input
            class="email-textBox textbox-text"
            type="text"
            placeholder="Nombre:"
          />
        </li>
        <li>
          <input
            class="email-textBox textbox-text"
            type="text"
            placeholder="Correo:"
          />
        </li>
        <li>
          <input
            class="email-textBox textbox-text"
            type="text"
            placeholder="Contraseña:"
          />
        </li>
        <li>
          <button class="continue-bttn bttn-txt" id="myButton">
            Registrarse
          </button>
        </li>
      </ul>
      <br />
      <ul id="lista1">
        <li>
          <span></span
          ><a
            >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a
          >
        </li>
        <li>
          <img
            class="facebook-icon"
            src="https://raw.githubusercontent.com/AleS900/prueba/master/VSI/Facebook.png"
          />
        </li>
        <li>
          <img
            class="facebook-icon"
            src="https://raw.githubusercontent.com/AleS900/prueba/master/VSI/Twitter.png"
          />
        </li>
        <li>
          <img
            class="facebook-icon"
            src="https://raw.githubusercontent.com/AleS900/prueba/master/VSI/YouTube.png"
          />
        </li>
        <li>
          <img
            class="facebook-icon"
            src="https://raw.githubusercontent.com/AleS900/prueba/master/VSI/kronosLogo.png"
          />
        </li>
      </ul>
    </div>
  </body>
</html>
