<!DOCTYPE html>
<html>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@100;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="topnav">
      <a href="#home">Inicio</a>
      <a class="active"href="#news">Críticas</a>
      <a  href="#contact">Noticias</a>
      <a href="#suggestions">Recomendaciones</a>
      <a href="#about">Sobre Nosotros</a>
      <a href="#logou">Cerrar Sesión</a>
    </div>
    <img
      class="green-title"
      src="https://raw.githubusercontent.com/AleS900/prueba/master/VSI/greenRaster.png"
    />
    <div class="green-square">
      <img
        class="left-arrow"
        src="https://raw.githubusercontent.com/AleS900/prueba/master/VSI/RightArrowG.png"
      />
      <img
        class="right-arrow"
        src="https://raw.githubusercontent.com/AleS900/prueba/master/VSI/LeftArrowG.png"
      />
      <p class="before-news">Anterior</p>
      <p class="after-news">Siguiente</p>
      <div class="background-2">
        <p class="description">
          God Of War 4, un gran nuevo comienzo.
        </p>
        <img
          class="news-example"
          src="https://raw.githubusercontent.com/AleS900/prueba/master/VSI/reviewsExample.png"
        />
        <p class="news-description">
          En este nuevo comienzo de la serie GOD OF WAR, Kratos ha dejado Grecia y el mundo civilizado por los bosques nevados, donde él y su esposa habían estado criando a su hijo, hasta su reciente muerte. Cuando un misterioso extraño ataca su hogar, Kratos y el niño se dirigen a las montañas para lo que rápidamente se convierte en una aventura épica. Una combinación fluida e intuitiva de jugabilidad actualizada y clásica de esta larga serie de acción de hack and slash, que los ayuda en su búsqueda, incluye una perspectiva de cámara más moderna y algunas opciones de personalización más profundas. La edición para PC, lanzada en 2022, agrega características técnicas que incluyen soporte para monitores 4K y ultra anchos, además de la capacidad de jugar con un teclado y reasignar entradas de control.
        </p>
        <p class="counter-like">
          10000
        </p>
        <img
        class="like"
        src="https://raw.githubusercontent.com/AleS900/prueba/master/VSI/like.png"
        />
        <p class="counter-unlike">
          5000
        </p>
        <img
        class="unlike"
        src="https://raw.githubusercontent.com/AleS900/prueba/master/VSI/unlike.png"
        />
        <img
        class="star1"
        src="https://raw.githubusercontent.com/AleS900/prueba/master/VSI/star.png"
        />
        <img
        class="star"
        src="https://raw.githubusercontent.com/AleS900/prueba/master/VSI/star.png"
        />
        <img
        class="star"
        src="https://raw.githubusercontent.com/AleS900/prueba/master/VSI/star.png"
        />
        <img
        class="star"
        src="https://raw.githubusercontent.com/AleS900/prueba/master/VSI/star.png"
        />
        <img
        class="star"
        src="https://raw.githubusercontent.com/AleS900/prueba/master/VSI/star.png"
        />
        <br /><br />
      </div>
      <div class="create-notice-square">
        <p class="title-comments">
          ¿Qué opinas al respecto?, cuentanos aquí abajo:
        </p>
        <input
          class="password2-textBox textbox2-text"
          type="text"
          placeholder="Escribe Aquí"
        />
        <br /><br />
      </div>
      <div class="supscription-square ">
        <p class="title-supscription">
          Suscribete para continuar disfrutando de nuestra pagina
        </p>
        <img
          class="supscription"
          src="https://raw.githubusercontent.com/AleS900/prueba/master/VSI/supscription.jpeg"
        />
        <br /><br />
      </div>
    </div>
    <div class="footer-bckgd">
      <br />
      <p class="footer-title">Suscribete a la Sección de Noticias.</p>
      <br />
      <ul id="lista1">
        <li><span class="separador">&nbsp;&nbsp;&nbsp;</span><a>Inicio</a></li>
        <li><span class="separador"></span><a>Acerca de</a></li>
        <li><span class="separador"></span><a>Contacto</a></li>
        <li>
          <span class="separador"></span
          ><a
            >Blog&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a
          >
        </li>
        <li>
          <input
            class="email-textBox textbox-text"
            type="text"
            placeholder="Nombre:"
          />
        </li>
        <li>
          <input
            class="email-textBox textbox-text"
            type="text"
            placeholder="Correo:"
          />
        </li>
        <li>
          <input
            class="email-textBox textbox-text"
            type="text"
            placeholder="Contraseña:"
          />
        </li>
        <li>
          <button class="continue-bttn bttn-txt" id="myButton">
            Registrarse
          </button>
        </li>
      </ul>
      <br />
      <ul id="lista1">
        <li>
          <span></span
          ><a
            >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a
          >
        </li>
        <li>
          <img
            class="facebook-icon"
            src="https://raw.githubusercontent.com/AleS900/prueba/master/VSI/Facebook.png"
          />
        </li>
        <li>
          <img
            class="facebook-icon"
            src="https://raw.githubusercontent.com/AleS900/prueba/master/VSI/Twitter.png"
          />
        </li>
        <li>
          <img
            class="facebook-icon"
            src="https://raw.githubusercontent.com/AleS900/prueba/master/VSI/YouTube.png"
          />
        </li>
        <li>
          <img
            class="facebook-icon"
            src="https://raw.githubusercontent.com/AleS900/prueba/master/VSI/kronosLogo.png"
          />
        </li>
      </ul>
    </div>
  </body>
</html>
