<!DOCTYPE html>
<html>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@100;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="topnav">
      <a href="#home">Inicio</a>
      <a href="#news">Críticas</a>
      <a class="active" href="#contact">Noticias</a>
      <a href="#suggestions">Recomendaciones</a>
      <a href="#about">Sobre Nosotros</a>
    </div>
    <img
      class="green-title"
      src="https://raw.githubusercontent.com/AleS900/prueba/master/VSI/greenRaster.png"
    />
    <div class="green-square">
      <img
        class="left-arrow"
        src="https://raw.githubusercontent.com/AleS900/prueba/master/VSI/RightArrowG.png"
      />
      <img
        class="right-arrow"
        src="https://raw.githubusercontent.com/AleS900/prueba/master/VSI/LeftArrowG.png"
      />
      <p class="before-news">Anterior</p>
      <p class="after-news">Siguiente</p>
      <div class="background-2">
        <p class="description">
          Oficial: Netflix está preparando una película de BioShock
        </p>
        <img
          class="news-example"
          src="https://raw.githubusercontent.com/AleS900/prueba/master/VSI/newsExample.png"
        />
        <p class="news-description">
          BioShock es uno de los videojuegos más famosos e importantes de la
          historia. Una de las razones por las que tiene esta posición es
          gracias a su narrativa e interesante mundo. Por esta razón muchos han
          pedido a gritos que sea adaptada al mundo del cine. Si eres uno de
          ellos, te alegrará saber que sucederá gracias a Netflix. Por medio de
          redes sociales, Netflix anunció que está preparando una película de
          BioShock. Se trata de una adaptación de la emblemática franquicia de
          videojuegos, la cual será hecha con miras a la posibilidad de
          desarrollar un nuevo universo cinematográfico. De acuerdo con
          información de The Hollywood Reporter, la película de BioShock será
          una coproducción de Netflix con Vertigo Entertainment y Take-Two
          Interactive. Por el momento, la producción carece de guionista o
          director, pero eso cambiará en el futuro.
        </p>
        <br /><br />
      </div>
      <div class="create-notice-square">
        <p class="title-comments">
          Tienes alguna noticia que contarnos, escribela aquí:
        </p>
        <input
          class="password2-textBox textbox2-text"
          type="text"
          placeholder="Escribe Aquí"
        />
        <br /><br />
      </div>
      <div class="supscription-square ">
        <p class="title-supscription">
          Suscribete para continuar disfrutando de nuestra pagina
        </p>
        <img
          class="supscription"
          src="https://raw.githubusercontent.com/AleS900/prueba/master/VSI/supscription.jpeg"
        />
        <br /><br />
      </div>
    </div>
    <div class="footer-bckgd">
      <br />
      <p class="footer-title">Suscribete a la Sección de Noticias.</p>
      <br />
      <ul id="lista1">
        <li><span class="separador">&nbsp;&nbsp;&nbsp;</span><a>Inicio</a></li>
        <li><span class="separador"></span><a>Acerca de</a></li>
        <li><span class="separador"></span><a>Contacto</a></li>
        <li>
          <span class="separador"></span
          ><a
            >Blog&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a
          >
        </li>
        <li>
          <input
            class="email-textBox textbox-text"
            type="text"
            placeholder="Nombre:"
          />
        </li>
        <li>
          <input
            class="email-textBox textbox-text"
            type="text"
            placeholder="Correo:"
          />
        </li>
        <li>
          <input
            class="email-textBox textbox-text"
            type="text"
            placeholder="Contraseña:"
          />
        </li>
        <li>
          <button class="continue-bttn bttn-txt" id="myButton">
            Registrarse
          </button>
        </li>
      </ul>
      <br />
      <ul id="lista1">
        <li>
          <span></span
          ><a
            >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a
          >
        </li>
        <li>
          <img
            class="facebook-icon"
            src="https://raw.githubusercontent.com/AleS900/prueba/master/VSI/Facebook.png"
          />
        </li>
        <li>
          <img
            class="facebook-icon"
            src="https://raw.githubusercontent.com/AleS900/prueba/master/VSI/Twitter.png"
          />
        </li>
        <li>
          <img
            class="facebook-icon"
            src="https://raw.githubusercontent.com/AleS900/prueba/master/VSI/YouTube.png"
          />
        </li>
        <li>
          <img
            class="facebook-icon"
            src="https://raw.githubusercontent.com/AleS900/prueba/master/VSI/kronosLogo.png"
          />
        </li>
      </ul>
    </div>
  </body>
</html>
