<!DOCTYPE html>
<html>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@100;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="topnav">
      <a href="#home">Inicio</a>
      <a href="#news">Críticas</a>
      <a  href="#contact">Noticias</a>
      <a class="active"href="#suggestions">Recomendaciones</a>
      <a href="#about">Sobre Nosotros</a>
    </div>
    <img
      class="green-title"
      src="https://raw.githubusercontent.com/AleS900/prueba/master/VSI/greenRaster.png"
    />
    <div class="green-square">
      <br />
      <br /><br />
      <p class="before-news">Recomendaciones</p>
      
      <div class="background-2">
        <br />
        <img
        class="twitch-logo"
        src="https://raw.githubusercontent.com/AleS900/prueba/master/VSI/twichLogo.png"
        />
        <p class="twitch-title">
          Twitch
        </p>
        <br />
        <br />
        <img
        class="t-sugg"
        src="https://raw.githubusercontent.com/AleS900/prueba/master/VSI/twich1.png"
        />
        <br />
        <img
        class="t-sugg"
        src="https://raw.githubusercontent.com/AleS900/prueba/master/VSI/twich2.png"
        />
        <br /><br />
      </div>
      <br /><br /><br />
      <div class="background-3">
        <br />
        <img
        class="twitch-logo"
        src="https://raw.githubusercontent.com/AleS900/prueba/master/VSI/ytlogo.png"
        />
        <p class="twitch-title">
          You Tube
        </p>
        <br />
        <br />
        &nbsp;&nbsp;&nbsp;
        <img
        class="yt-sugg"
        src="https://raw.githubusercontent.com/AleS900/prueba/master/VSI/yt1.png"
        />
        
        <img
        class="yt-sugg"
        src="https://raw.githubusercontent.com/AleS900/prueba/master/VSI/yt2.png"
        />
        <br /><br />
      </div>
      
    </div>
    <div class="footer-bckgd">
      <br />
      <p class="footer-title">Suscribete a la Sección de Noticias.</p>
      <br />
      <ul id="lista1">
        <li><span class="separador">&nbsp;&nbsp;&nbsp;</span><a>Inicio</a></li>
        <li><span class="separador"></span><a>Acerca de</a></li>
        <li><span class="separador"></span><a>Contacto</a></li>
        <li>
          <span class="separador"></span
          ><a
            >Blog&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a
          >
        </li>
        <li>
          <input
            class="email-textBox textbox-text"
            type="text"
            placeholder="Nombre:"
          />
        </li>
        <li>
          <input
            class="email-textBox textbox-text"
            type="text"
            placeholder="Correo:"
          />
        </li>
        <li>
          <input
            class="email-textBox textbox-text"
            type="text"
            placeholder="Contraseña:"
          />
        </li>
        <li>
          <button class="continue-bttn bttn-txt" id="myButton">
            Registrarse
          </button>
        </li>
      </ul>
      <br />
      <ul id="lista1">
        <li>
          <span></span
          ><a
            >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a
          >
        </li>
        <li>
          <img
            class="facebook-icon"
            src="https://raw.githubusercontent.com/AleS900/prueba/master/VSI/Facebook.png"
          />
        </li>
        <li>
          <img
            class="facebook-icon"
            src="https://raw.githubusercontent.com/AleS900/prueba/master/VSI/Twitter.png"
          />
        </li>
        <li>
          <img
            class="facebook-icon"
            src="https://raw.githubusercontent.com/AleS900/prueba/master/VSI/YouTube.png"
          />
        </li>
        <li>
          <img
            class="facebook-icon"
            src="https://raw.githubusercontent.com/AleS900/prueba/master/VSI/kronosLogo.png"
          />
        </li>
      </ul>
    </div>
  </body>
</html>
